body {
  background-color: #AEA8A8;
}

p {
  color: white;
  justify-content: center;
}
h1 {
  color: white;
}

.language {
  visibility: hidden;
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
